<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://lh3.googleusercontent.com/proxy/MRr5sJpXVbjBen7X6SnCOHqLT3gdAPlzC0nYb6awd4zoalQdKfedvWE2KzMHYulSQNx-E77plmQ9otBnFzsEB26I" id="icon" alt="User Icon" />
      <h1>ABCASH</h1>
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Login" [formControl]="Login">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Passowrd" [formControl]="Password">
      <input (click)="sendData(Login, Password)" type="button" class="fadeIn fourth" value="Login">
    </form>

  </div>
</div>